.labelCol {
    padding: 3px 0px 5px;
    display: block;
}

.error {
    color: red;
    font-weight: bold;
}

input[type=submit], input[type=reset]{
    padding: 5px 10px;
    margin: 15px 0px;
}

fieldset{
    border-style: none;
}

.Menu{
    background-color: gray;
    overflow: hidden;
    margin: -8px;

}

#text{
    padding-left: 10px;
}

.Menu a{
        float: right;
        color: black;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 40px;;
        text-decoration: none;
        font-size: 18px;
}

body{
    background-color: lightgray;
}

h1{
    padding-left: 10px;
}

p a{
   color: black; 
}

